In [3]:
# 055
# 이차원리스트 출력

apart = [ [101, 102], [201, 202], [301, 302] ]
for floor in apart:
    for room in floor:
        print(room, "호")

101 호
102 호
201 호
202 호
301 호
302 호

In [4]:
# 056
# 이차원리스트 출력

for floor in apart[::-1]:
    for room in floor:
        print(room, "호")

301 호
302 호
201 호
202 호
101 호
102 호

In [6]:
# 057
# 이차원리스트 출력

for floor in apart[::-1]:
    for room in floor[::-1]:
        print(room, "호")

302 호
301 호
202 호
201 호
102 호
101 호

In [7]:
# 058
# 이차원리스트 출력

for floor in apart:
    for room in floor:
        print(room, "호")
        print("-" * 5)

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [8]:
# 059
# 이차원리스트 출력

for floor in apart:
    for room in floor:
        print(room, "호")
    print("-" * 5)

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [9]:
# 060
# 이차원리스트 출력

for floor in apart:
    for room in floor:
        print(room, "호")
print("-" * 5)

101 호
102 호
201 호
202 호
301 호
302 호
-----