In [6]:
# 011
# 부가세 포함한 가격

number = [100, 200, 300]
for x in number:
    print(x + 10)

110
210
310

In [7]:
# 012
# 반복문 출력

menu = ["김밥", "라면", "튀김"]
for name in menu:
    print("오늘의 메뉴:", name)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [8]:
# 013
# 문자열의 길이 출력

stock = ["SK하이닉스", "삼성전자", "LG전자"]
for name in stock:
    print(len(name))

6
4
4

In [9]:
# 014
# 변수와 글자수 출력

animal = ['dog', 'cat', 'parrot']
for name in animal:
    print(name, len(name))

dog 3
cat 3
parrot 6

In [10]:
# 015
# 동물 이름의 첫 글자만 출력

for name in animal:
    print(name[0])

d
c
p

In [11]:
# 016
# 구구단1

num = [1, 2, 3]
for x in num:
    print("3 x", x)

3 x 1
3 x 2
3 x 3

In [14]:
# 017
# 구구단2. 문자열 함수

for x in num:
    print("3 x", x, "=", 3 * x)
    print("3 x {} = {}".format(x, 3 * x))

3 x 1 = 3
3 x 1 = 3
3 x 2 = 6
3 x 2 = 6
3 x 3 = 9
3 x 3 = 9

In [15]:
# 018
# 리스트 슬라이싱

리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[1:]:
    print(변수)

나
다
라

In [17]:
# 019
# 리스트 슬라이싱

for 변수 in 리스트[::2]:
    print(변수)

가
다

In [18]:
# 020
# 리스트 슬라이싱

for 변수 in 리스트[::-1]:
    print(변수)

라
다
나
가