In [4]:
# 016
# 데이터를 이어붙여 하나의 문자열로. join

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
    ## print(interest[0], interest[1], interest[2], interest[3], interest[4])
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우